## **Smoking Drinking Prediction**

**Problem Statement:**  
The goal is to predict smoking and drinking habits based on various health and demographic attributes provided in the dataset. This involves analyzing the relationships between features such as age, gender, physical measurements, and health indicators to determine patterns and build a predictive model for smoking and drinking behavior.

**Smoking Drinking Dataset -->**

### **Importing Dependencies**

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

### **Data Collection & Data Analysis**

In [5]:
dataset = pd.read_csv('smoking_driking_dataset.csv')

In [7]:
dataset.head()

    sex  age  height  weight  ...  SGOT_ALT  gamma_GTP  SMK_stat_type_cd  DRK_YN
0  Male   35     170      75  ...        35         40                 1       Y
1  Male   30     180      80  ...        36         27                 3       N
2  Male   40     165      75  ...        32         68                 1       N
3  Male   50     175      80  ...        34         18                 1       N
4  Male   50     165      60  ...        12         25                 1       N

[5 rows x 24 columns]

In [8]:
dataset.shape

(49999, 24)

In [9]:
dataset.isnull().sum()

sex                 0
age                 0
height              0
weight              0
waistline           0
sight_left          0
sight_right         0
hear_left           0
hear_right          0
SBP                 0
DBP                 0
BLDS                0
tot_chole           0
HDL_chole           0
LDL_chole           0
triglyceride        0
hemoglobin          0
urine_protein       0
serum_creatinine    0
SGOT_AST            0
SGOT_ALT            0
gamma_GTP           0
SMK_stat_type_cd    0
DRK_YN              0
dtype: int64

In [12]:
dataset.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
49994    False
49995    False
49996    False
49997    False
49998    False
Length: 49999, dtype: bool